@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Courier Prime', monospace;
  background-color: #FAF5EB;
  color: #750C00;
}

.todo-container {
  width: 260px;
  margin: 30px auto;
  overflow: auto;
  min-height: 400px;
  font-weight: 400;
  background-color: #FFD2B7;
  padding: 26px 11px 26px 11px;
  border-radius: 16px;
  box-shadow: 4px 4px 5px 0 rgba(117, 12, 0, 0.5);
  float: left;
  margin-top: 12em;
  margin-left: 8em;
}

.header {
  padding-left: 14px;
  padding-right: 8px;
  padding-top: 7px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: #FAF5EB ;
  border-radius: 16px;
  margin-bottom: 20px;
  color: #750C00;
  font-size: 14px;
}

.btn {
  display: inline-block;
  background: #750C00;
  color: #fff;
  letter-spacing: 2px;
  padding: 5px 17px 1px 17px;
  border: none;
  margin: 5px;
  border-radius: 16px;
  cursor: pointer;
  text-decoration: none;
  font-size: 18px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.task {
  background: #FAF5EB;
  margin: 5px;
  border-radius: 16px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 15px;
}

.task.important {
  border-left: 8px solid #750C00;
}

.task h6 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 15px;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-right: 5px;
}

.task p {
  font-style: italic;
}
.add-form {
  margin-bottom: 20px;
  background-color: #FAF5EB;
  padding: 3px 11px 10px 3px ;
  border-radius: 16px;
}

.form-control {
  margin: 10px 0;
  padding: 8px;
  
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
  border-color: #750C00;
  border-radius: 5px;
  border-width: 1px;
  
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: end
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 5x;
}

#animation {
  position: fixed;
  z-index: -1;
  width: 35%;
  margin-top: 5em;
  margin-left: 6.5em;
}

.sounds-container {
  width: 255px;
  float: right;
  background: #FFD2B7;
  overflow: auto;
  border-radius: 16px;
  padding: 26px 11px 26px 11px;
  margin-top: 8em;
  margin-right: 8em;
  box-shadow: 4px 4px 5px 0 rgba(117, 12, 0, 0.5);
}

.all-sounds {
  background-color: #FAF5EB;
  border-radius: 16px;
  padding-top: 1em;
  padding-right: 1em;
  padding-left: 1em;
}

.sound {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 0.5em;
}

.sound h3 {
  color: #750C00;
  padding-left: 0.5em;
  font-size: 1.2em;
}

.volume-control {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1em;
  align-items: center;
}

input[type=range] {
  height: 25px;
  -webkit-appearance: none;
  width: 75%;
  background-color: #FAF5EB;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.3em;
  cursor: pointer;
  background: #750C00;
  border-radius: 5px;
}
input[type=range]::-webkit-slider-thumb {
  height: 1.2em;
  width: 1.2em;
  border-radius: 50%;
  background: #750C00;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #750C00;
}

input[type=range]::-moz-range-track {
  width: 75%;
  height: 0.5em;
  cursor: pointer;
  background: #750C00;
  border-radius: 5px;
}
input[type=range]::-moz-range-thumb {
  height: 1.2em;
  width: 1.2em;
  border-radius: 50%;
  background: #750C00;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 9px;
  cursor: pointer;

  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #750C00;
  border-radius: 10px;

}
input[type=range]::-ms-fill-upper {
  background: #750C00;
  border-radius: 10px;
}
input[type=range]::-ms-thumb {
  margin-top: -5px;
  height: 1.2em;
  width: 1.2em;
  border-radius: 50%;
  background: #750C00;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #750C00;
}
input[type=range]:focus::-ms-fill-upper {
  background: #750C00;
}

.timer-container {
  float: right;
  margin-top: 30em;
  margin-right: -15.8em;
  background: #FFD2B7;
  box-shadow: 4px 4px 5px 0 rgba(117, 12, 0, 0.5);
  border-radius: 16px;
  padding-top: 1em;
  padding-right: 0.5em;
  padding-left: 0.5em;
  padding-bottom: 1em;
}

.timer-display {
  display: flex;
  background: #FAF5EB;
  border-radius: 16px;
  justify-content: space-between;
  align-items: center;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
}

.timer-time {
  font-size: 60px;
  letter-spacing: -5px;
  padding-right: 0.13em;
  padding-left: 0.1em;
}

.timer-controls {
  padding-top: 0.5em;
  padding-left: 0.7em;
}

.date-time-container {
  position: fixed;
  margin-top: 11.25em;
  margin-left: 10.7em;
  font-size: 55px;
  line-height: 70px;
}

.greetings {
  text-align: center;
}

.greetings h6 {
  font-style: italic;
  font-weight: 400;
  font-size: 30px;
}

.greetings p {
  font-size: 25px;
}

footer {
  margin-top: 30px;
  text-align: center;
}
